.page {
  font-family: "Inter", "Arial", sans-serif;
  background: #2a2c2f;
  font-size: 16px;
  line-height: 1.6;
  font-weight: normal;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
