.header {
  max-width: 1184px;
  padding: 0 16px 0 16px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 16px;
  height: 42px;
}
@media (min-width: 768px) {
  .header {
    height: 52px;
    margin-top: 28px;
    padding: 0 24px 0 24px;
  }
}
@media (min-width: 1024px) {
  .header {
    padding: 0 48px 0 48px;
  }
}