.footer__link {
  text-decoration: none;
  color: #ffffff;
  list-style: none;
  transition: opacity 0.1s ease-in-out;
}
.footer__link:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    display: block;
  }
  .footer__link:not(:first-child) {
    margin-top: 32px;
  }
}
@media (min-width: 768px) {
  .footer__link:not(:first-child) {
    margin-left: 18px;
  }
}
