.lead__image {
  position: relative;
  margin: 0;
  margin-top: 40px;
}
@media (min-width: 1024px) {
  .lead__image {
    margin: auto;
    max-width: 928px;
  }
}
@media (min-width: 1280px) {
  .lead__image {
    max-width: 984px;
  }
}
